@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

main {
	width: 100%;
	height: 100vh;
	position: relative;
	background: #222;

	header {
		width: 100%;
		padding: 5vh 9vw;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			font: 30px/1 'crimson text';
			color: #fff;
		}

		#gnb {
			display: flex;
			gap: 3vw;
			font: 16px/1 'crimson text';
			color: #bbb;
		}

		.fa-bars-staggered {
			position: absolute;
			right: 9vw;
			top: 50%;
			margin-top: -10px;
			font-size: 20px;
			color: #fff;
			display: none;
		}
	}

	section {
		article {
			width: 24vw;
			height: 60vh;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-left: -12vw;
			margin-top: -25vh;
			z-index: 1;
			overflow: hidden;
			transition-property: width, height, opacity, transform, margin-left, margin-top, top, left;
			transition-duration: 0.5s;
			transition-delay: 0s;
			box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

			.txt {
				width: 100%;
				height: 40%;
				background: #333;
				padding: 20px;
				padding-top: 30px;
				position: absolute;
				right: 0;
				top: 0;
				transition: 0.5s;

				strong {
					font: bold 14px/1 'arial';
					color: #ddd;
				}
				p {
					font: 14px/1.2 'arial';
					color: #888;
				}
				i {
					font-size: 20px;
					color: #888;
					position: absolute;
					top: 40px;
					right: 40px;
				}
				h2 {
					font: 5vw/1 'crimson text';
					color: #fff;
					position: absolute;
					left: 20px;
					bottom: -3vw;
					text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
					z-index: 2;
					transition: 0.5s;

					&::before {
						content: '';
						position: absolute;
						width: 0%;
						height: 1px;
						background: #fff;
						left: 0;
						top: -10px;
						transition: width 1s 0.5s;
					}
				}
				.desc {
					width: 60%;
					position: absolute;
					top: 60%;
					left: 5vw;
					opacity: 0;
					transition: 0.5s 0s;
					font: 16px/1.3 'arial';
					color: #888;
				}
			}

			.pic {
				width: 100%;
				height: 60%;
				background: #000;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: 0.5s;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0.5;
					transition: opacity 0.5s;
				}
			}

			.open {
				width: 0%;
				height: 60px;
				background: rgba(255, 255, 255, 0.9);
				position: absolute;
				bottom: 0;
				left: 0;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				transition: 0.5s;

				span {
					font: 16px/1 'crimson text';
					color: #000;
					display: inline-block;
					transform: translateX(-200px);
					opacity: 0;
					transition: 0.5s 0s;
				}
				i {
					margin-right: -100px;
					opacity: 0;
					color: #555;
					transition: 0.5s 0s;
				}
			}
			.close {
				cursor: pointer;
				position: absolute;
				top: 10vh;
				right: -10vw;
				opacity: 0;
				color: #ddd;
				transition: 0.5s 0s;
			}

			&:nth-of-type(1) {
				transform: translateX(-400%) translateY(70%) scale(0.6);
				opacity: 0;
			}
			&:nth-of-type(2) {
				transform: translateX(-130%) translateY(25%) scale(0.8);
				opacity: 0.6;
			}
			&:nth-of-type(3) {
				transform: translateX(0%) translateY(0%) scale(1);
				opacity: 1;

				.txt h2::before {
					width: 4vw;
				}
				.pic img {
					opacity: 1;
				}
				.open {
					width: 100%;
					span {
						opacity: 1;
						transform: translateX(20px);
						transition: 0.5s 0.3s;
					}
					i {
						opacity: 1;
						margin-right: 30px;
						transition: 0.5s 0.5s;
					}
				}
			}
			&:nth-of-type(4) {
				transform: translateX(130%) translateY(-25%) scale(0.8);
				opacity: 0.6;
			}
			&:nth-of-type(5) {
				transform: translateX(400%) translateY(-70%) scale(0.6);
				opacity: 0;
			}
		}

		//expended style
		article.on {
			width: 100%;
			height: 100%;
			margin-top: 0;
			margin-left: 0;
			top: 0;
			left: 0;
			z-index: 2;
			transition-duration: 0.8s;
			transition-delay: 0.5s;

			.txt {
				width: 60%;
				height: 100%;
				padding: 5vw;
				transition: 0.5s 0.5s;

				h2 {
					bottom: calc(100% - 5vw - 200px);
					left: 5vw;
					transition: 0.5s 0s;
				}
				.desc {
					opacity: 1;
					top: 50%;
					transition: 1s 1s;
				}
			}

			.pic {
				width: 40%;
				height: 100%;
				transition: 0.5s 0.5s;
			}
			.open {
				width: 0%;

				span {
					transform: translateX(-200px);
					opacity: 0;
				}
			}
			.close {
				top: 10vh;
				right: 10vw;
				opacity: 1;
				transition: 0.5s 1s;
			}
		}

		//hide style
		article.hide {
			opacity: 0;
			margin-top: -1000px;
			transition-delay: 0s;
		}
	}

	nav {
		position: absolute;
		bottom: 10vh;
		right: 10vw;
		display: flex;
		gap: 50px;
		transition: 0.5s;

		&:hover {
			gap: 80px;
		}

		&::before {
			content: '';
			height: 150%;
			width: 1px;
			background: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) rotate(-60deg);
			opacity: 0.2;
		}

		//button area
		p {
			width: 100px;
			height: 40px;
			position: relative;
			cursor: pointer;

			//common style
			span {
				font: italic 12px/1 'arial';
				color: #fff;
				display: inline-block;
				opacity: 0.5;
				transition: 0.5s;
			}
			//horizontal line common
			&::before {
				content: '';
				position: absolute;
				width: 0%;
				height: 1px;
				background: #fff;
				top: 50%;
				opacity: 0;
				transition: 0.2s 0.2s;
			}
			//30deg line common
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				width: 0px;
				height: 1px;
				background: #fff;
				opacity: 0;
				transition: 0.2s 0s;
			}

			//next style
			&.next {
				text-align: left;

				span {
					transform: translateY(-5px);
				}
				&::before {
					left: 0;
				}
				&::after {
					transform-origin: right center;
					transform: rotate(30deg);
					right: 0;
				}
			}

			//prev style
			&.prev {
				text-align: right;
				span {
					transform: translateY(20px);
				}

				&::before {
					right: 0;
				}
				&::after {
					transform-origin: left center;
					transform: rotate(30deg);
					left: 0;
				}
			}
		}

		//button hover style
		p:hover {
			span {
				opacity: 1;
			}
			&.next,
			&.prev {
				&::before {
					opacity: 1;
					width: 100%;
					transition: 0.2s 0s;
				}
				&::after {
					width: 40px;
					opacity: 1;
					transition: 0.2s 0.2s;
				}
			}
		}
	}
}

@media screen and (max-width: 969px) {
	main {
		header {
			#gnb {
				display: none;
			}
			.fa-bars-staggered {
				display: block;
			}
		}

		section {
			article {
				width: 70vw;
				height: 60vh;
				margin-left: -35vw;
				margin-top: -30vh;

				.txt {
					h2 {
						font-size: 17vw;
						bottom: -7vw;
					}

					i {
						top: 30px;
						right: 20px;
					}

					.desc {
						width: 80%;
					}
				}
			}
			article.on {
				.txt {
					width: 100%;
					height: 70%;
				}
				.pic {
					width: 100%;
					height: 30%;
				}
			}
		}

		nav {
			bottom: 7vh;
		}
	}
}
